body {
	text-align: center !important;
	background-color: #1f1f1f !important;
	color: #fff !important;
}

#mainroot {
	text-align: left !important;
}
#mainlist {
	list-style: none;
	text-align: left !important;
}

#mainlist li {
	display: flex;
}

.mylist {
	margin-left: 10px;
	color: lawngreen;
}

#user-image {
	height: 13em;
}

.my-keyword {
	color: #007bff;
    text-transform: uppercase;
	text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
}